
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden
}

.whiteText{
  color: white !important;
}

/* Загрузочный экран */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Задний фон, можно поменять */
  z-index: 9999; /* Сделать загрузочный экран поверх всего */
}

.spinner {
  border: 10px solid #f3f3f3; /* Светлый цвет фона спиннера */
  border-top: 10px solid #e5ff00; /* Синий цвет крутящегося сегмента */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Анимация вращения */
}

/* Анимация вращения */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

