
body {
  background-color: #282c34; 
  margin: 0; 
  padding: 0; 
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


.custom-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}

.BtnAndBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 230px;
  width: 100%;
}
