.whiteText{
    color: white !important;
  }

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.friends-container {
  display: flex;
  flex-direction: column; /* Располагаем содержимое вертикально */
  justify-content: space-between;
  overflow-y: auto;
  max-height: 85vh;
}

.friends-list {
  flex-grow: 1; /* Контейнер растет по высоте, занимает оставшееся пространство */
  padding: 10px;
  margin-bottom: 10px;
  scroll-behavior: smooth; /* Плавная прокрутка */
  overscroll-behavior: contain; 
  -webkit-overflow-scrolling: touch; /* Для плавного скролла на iOS */
}

.inviteFrens {
  width: 100%; /* Ширина кнопки */
  padding: 13px; /* Отступы для увеличения высоты */
  font-size: 20px; /* Размер текста */
  color: black; /* Цвет текста */
    color: white;
    border: 2px solid #0ff;
    box-shadow:  0 0 5px #ff00ff, 0 0 15px #ff00ff;
    transition: background-color 0.5s, box-shadow 0.5s;
    background: linear-gradient(to right, #ff6ec7, #01f7f7); /* Неоновый градиент */
  cursor: pointer; /* Курсор в виде руки при наведении */
  z-index: 1000;
  position: fixed; /* Фиксируем кнопку */
  bottom: 80px; /* Отступ сверху футера, 60px для безопасности */
}



.friends-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.skeletonFriend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  width: 100%;
  margin-top: 15px;
}

.skeletonFriend-text {
  flex-grow: 1;
  background-color: #ccc;
  height: 20px;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
  width: 150px;
}

.skeletonFriend-score {
  flex-grow: 1;
  background-color: #ccc;
  height: 20px;
  margin-right: 20px;
  width: 50px;
}

.skeletonFriend-button {
  margin-right: 10px;
  background-color: #ccc;
  width: 100%; /* Ширина кнопки */
  padding: 15px; /* Отступы для увеличения высоты */
  color: black; /* Цвет текста */
  border: none; /* Убираем рамку */
  border-radius: 10px; /* Скругленные углы */
  margin-top: 20px;
} 

.skeletonFriend-icon {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 24px;
}