.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.listFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
    border-radius: 12px;
    width: 100%;
    margin-top: 15px;
}

.iconAndTask{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.tasksText{
    margin-left: 20px;
}

.coor{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.playBtn {
  background-color: white;
  width: 70px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  color: black;
  font-size: x-small;
  font-weight: bold;
}

  .playBtn.completed {
    background-color: #f06aff; /* Розовый цвет, если задача выполнена */
    cursor: not-allowed; /* Запрещаем взаимодействие */
    font-weight: bold;
    color: black;
  }
  
  .playBtn:disabled {
    cursor: not-allowed; /* Убираем возможность нажатия на кнопку, если она отключена */
  }

  h5.whiteText {
    margin: 7px;
}

/* Спиннер */
.spinnerBtn {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}