.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.listFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
    border-radius: 12px;
    width: 100%;
    margin-top: 15px;
}

.iconAndTask{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.tasksText{
    margin-left: 20px;
}

.coor{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.playBtn{
    background-color: white;
    width: 70px;
    height: 40px;
    border-radius: 20px;
    font-size: revert-layer;
    margin-right: 10px;
  }


  h5.whiteText {
    margin: 7px;
}