.progress-bar-container {
    width: 90%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
  }
  
  .progress-bar {
    height: 30px;
    background-color: #ff8af1;
    width: 0;
    transition: width 0.9s linear;
  }