.bubble {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: top;
  transform: translateZ(0); /* Триггер для аппаратного ускорения */
}

.bubble.blue {
  background-image: url('./Assets/d.png'); /* Путь к вашему изображению бомбы */
  background-size: cover;
  border-radius: 0; /* Убираем закругление */
}

.bubble.red {
  background-image: url('./Assets/bomb2.png'); /* Путь к вашему изображению бомбы */
  background-size: cover;
  border-radius: 0; /* Убираем закругление */
  filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.8)); /* Красное свечение */
}


.bubble.green {
  background-color: green;
}

@keyframes fall {
  0% {
    top: -40px;
  }
  100% {
    top: 100vh;
  }
}

@keyframes explode {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.explosion {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('./Assets/Explosion.png'); /* Путь к изображению взрыва */
  background-size: cover;
  animation: explode 0.5s ease-out forwards;
}
