.game {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  background: #484848; /* Цвет асфальта */
}

.road-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 200%; /* Увеличиваем высоту, чтобы был запас для анимации */
  background: repeating-linear-gradient(
    to bottom,
    white 0%,
    white 10%,
    transparent 10%,
    transparent 20%
  );
  transform: translateX(-50%);
  animation: moveRoad 3s linear infinite; /* Анимация движения дороги */
}

/* Анимация движения */
@keyframes moveRoad {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

h2 {
  color: white;
}

h1 {
  color: white;
}

.ScoreAndTime {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* button {
  font-size: 24px;
  padding: 10px 20px;
  margin-top: 20px;
} */

.gameTimeAndScore{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.scores{
  display: flex;
  flex-direction: row;
  width: 55px;
  justify-content: space-between;
}

/* .driveCoinLetter{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xxx-large;
}

.points{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xxx-large;
} */