.game {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  background-color: aqua !important;
}

h2 {
  color: black;
}

.ScoreAndTime {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  font-size: 24px;
  padding: 10px 20px;
  margin-top: 20px;
}

.gameTimeAndScore{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.scores{
  display: flex;
  flex-direction: row;
  width: 55px;
  justify-content: space-between;
}

/* .driveCoinLetter{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xxx-large;
}

.points{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xxx-large;
} */