


.User{
  color: azure;
}

.Points{
  color: azure;
}

.playArea {
    margin-top: auto;
    padding: 20px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .playBtn{
    background-color: chartreuse;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    font-size: large;
    
  }

  .dropGame{
    color: chartreuse;
    margin-bottom: 10px;
  }

  .dropGameBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }



.App {
    display: flex;
    flex-direction: column;
    height: 90vh; /* 100% высоты viewport */
}

.h2{
    color: black;
}

.NameAndStat {
    display: flex;
    flex-direction: column;
    align-items: center;
}