
.User{
  color: azure;
}

.Points{
  color: azure;
}

.roadline {
  top: 0;
  left: 50%;
  width: 10px;
  height: 130%; /* Увеличиваем высоту, чтобы был запас для анимации */
  background: repeating-linear-gradient(
    to bottom,
    white 0%,
    white 13%,
    transparent 10%,
    transparent 20%
  );
  margin-right: 18px;
}

.playArea {
    margin-top: auto;
    padding: 20px;
    background: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .playBtn{
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    font-size: large;
    
  }

  .dropGame{
    color: white;
    margin-bottom: 10px;
  }

  .dropGameBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }



.App {
    display: flex;
    flex-direction: column;
    height: 90vh; /* 100% высоты viewport */
}

.h2{
    color: white;
}

.timeToPlay{
  color: white !important;
}

.NameAndStat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

