.player-car {
  position: absolute;
  width: 50px; /* Измените размер по необходимости */
  height: auto;
  transform: translate(-50%, -50%); /* Для центрирования изображения на позиции */
  background-color: transparent;
  left: 50%; /* Ставим элемент по центру экрана */
}

.player-bub{
  position: absolute;
  width: 30px;
  height: 80px;
  border-radius: 40px;
  transform: translate(-50%, -50%);
  background-color: darkgoldenrod;
}