.player-car {
  position: absolute;
  width: 150px; /* Измените размер по необходимости */
  height: auto;
  transform: translate(-50%, -50%); /* Для центрирования изображения на позиции */
  background-color: transparent;
}
